In [392]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [409]:
data = pd.read_csv('movie_bd_v5.csv', parse_dates= ['release_date'])
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1228,tt1535109,55000000,95000000,Captain Phillips,Tom Hanks|Catherine Keener|Max Martini|Chris M...,Paul Greengrass,Out here survival is everything.,The true story of Captain Richard Phillips and...,134,Action|Drama|Thriller,Columbia Pictures,2013-10-10,7.7,2013
510,tt0247638,37000000,165335153,The Princess Diaries,Anne Hathaway|Julie Andrews|Heather Matarazzo|...,Garry Marshall,She rocks. She rules. She reigns.,A socially awkward but very bright 15-year-old...,115,Comedy|Family|Romance,Walt Disney Pictures|BrownHouse Productions|Bo...,2001-08-03,6.3,2001
1355,tt0368709,57000000,52034889,Elizabethtown,Orlando Bloom|Kirsten Dunst|Susan Sarandon|Ale...,Cameron Crowe,It's a heck of a place to find yourself,Drew Baylor is fired after causing his shoe co...,123,Comedy|Drama|Romance,Paramount Pictures|Cruise/Wagner Productions|V...,2005-09-03,6.0,2005
1607,tt0376541,27000000,115505027,Closer,Natalie Portman|Jude Law|Julia Roberts|Clive O...,Mike Nichols,"If you believe in love at first sight, you nev...","A witty, romantic, and very dangerous love sto...",104,Drama|Romance,Columbia Pictures,2004-12-01,6.6,2004
1431,tt0355702,25000000,13411957,Lords of Dogtown,Emile Hirsch|Victor Rasuk|Rebecca De Mornay|Jo...,Catherine Hardwicke,"They never thought they'd be famous, but they ...",The film follows the surf and skateboarding tr...,107,Drama,Columbia Pictures|TriStar Pictures,2005-06-03,6.9,2005

In [4]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [417]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:
data['profit'] = data['revenue'] - data['budget']     # создание столбца прибыли


def stringtolist(string):                             # преобразование строки в список
    result = string.str.split('|')
    return result
#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [418]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [29]:
# тут пишем ваш код для решения данного вопроса:
data[data.budget == data.budget.max()].original_title

723    tt1298650
Name: imdb_id, dtype: object

ВАРИАНТ 2

In [396]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [419]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '2. Gods and Generals (tt0279111)'

In [397]:
data[data.runtime == data.runtime.max()].original_title

1157    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [420]:
data[data.runtime == data.runtime.min()].original_title


answers['3'] = '3 Winnie the Pooh (tt1449283)'

# 4. Какова средняя длительность фильмов?

In [421]:
data.runtime.mean()
answers['4'] = '2. 110'

# 5. Каково медианное значение длительности фильмов?

In [422]:
data.runtime.median()
answers['5'] = '1. 107'

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [423]:
# лучше код получения столбца profit вынести в Предобработку что в начале
data[data.profit == data.profit.max()].original_title

answers['6'] = '5. Avatar'

# 7. Какой фильм самый убыточный?

In [424]:
data[data.profit == data.profit.min()].original_title
answers['7'] = '5. The Lone Ranger'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [425]:
data[data.profit > 0]['original_title'].count()
answers['8'] = '1. 1478'

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [426]:
data_2008 = data[data.release_year == 2008]      # датафрейм с фильмаими 2008 года
data_2008[data_2008.revenue == data_2008.revenue.max()]['original_title']
answers['9']= '4. The Dark Knight'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [427]:
data_1214 = data.query('2012 <= release_year <= 2014')                    # фильмы в диапазоне 2012-2014
data_1214[data_1214.profit == data_1214.profit.min()]['original_title']   # поиск самого убыточного из них
answers['10'] = '5. The Lone Ranger'

# 11. Какого жанра фильмов больше всего?

In [428]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

data['genrelist'] = stringtolist(data['genres'])   #создание списка жанров на основе строки жанров
genrelist = data['genrelist'].sum()                #суммируем упоминания каждого жанра
Counter(genrelist)                                 #подсчитываем количества упоминаний

answers['11'] = '3. Drama'

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [431]:
profit_movies = data[data.profit > 0 ]       # датафрейм с положительной прибылью
genrelist = profit_movies['genrelist'].sum()  # список жанров прибыльных фильмов
Counter(genrelist)                             # счёт самого прибыльного жанра
answers['12'] = '1. Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [432]:
data.groupby(['director'])['revenue'].sum().sort_values(ascending=False)
answers['13'] = '5. Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [434]:
action_movies = data[data.genres.str.contains('Action', na=False)] # датафрейм экшн-фильмов
action_movies.director = stringtolist(action_movies.director)      # строку режиссёров делаем списком
action_movies = action_movies.explode('director')                  # разделяем список на отдельные строки
action_movies.director.value_counts()                              # подсчитываем количество фильмов

answers['14'] = '3. Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [435]:
data['actors'] = stringtolist(data.cast)                                    # строку актеров в список
movies_2012 = data.query('release_year == 2012')                            # датафрейм фильмов 2012года
movies_2012 =  movies_2012.explode('actors')                                # разделяем список актеров
movies_2012.groupby('actors')['revenue'].sum().sort_values(ascending=False) # сортируем актеров по прибыли

answers['15'] = '3. Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [436]:
high_budget = data[data.budget > data.budget.mean()] # выбираем фильмы с бюджетом выше среднего
high_budget = high_budget.explode('actors')          # разделяем строки актеров на список
high_budget.actors.value_counts(ascending=False)     # подсчитываем количество прибыльных фильмов на актера

answers['16']='3. Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [438]:
nc_data = data.explode('actors')                   # разделяем строки актеров на список
nc_data = nc_data[nc_data.actors == 'Nicolas Cage'] # оставляем строки с Николаем
nc_data = nc_data.explode('genrelist')              # разделяем фильмы с ним по жанрам
nc_data.genrelist.value_counts(ascending=False)     # подсчитываем кол-во фильмов каждого жанра

answers['17'] = '2. Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [439]:
companies_data=data
companies_data['companies'] = stringtolist(companies_data.production_companies) # создаём список компаний
companies_data = data.explode('companies')                                      # разделяем список компаний
companies_data = companies_data[companies_data.companies == 'Paramount Pictures']
companies_data[companies_data['profit'] == companies_data.profit.min()]['original_title']

answers['18']='1. K-19: The Widowmaker'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [440]:
data.groupby('release_year')['revenue'].sum().sort_values(ascending=False)

answers['19'] = '5. 2015'

# 20. Какой самый прибыльный год для студии Warner Bros?

In [441]:
wb_company = data
wb_company['companies'] = stringtolist(wb_company.production_companies)
wb_company = wb_company.explode('companies')
wb_company = wb_company[wb_company.companies.str.contains('Warner Bros', na=False)]
wb_company.groupby('release_year')['profit'].sum().sort_values(ascending=False)

answers['20']=['1. 2014']

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [442]:
data.release_date.dt.month.value_counts()

answers['21'] = '1. 2014'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [443]:
data['release_month'] = data.release_date.dt.month
data.query('release_month in [6, 7, 8]')['original_title'].count()

answers['22'] = '2. 450'

# 23. Для какого режиссера зима – самое продуктивное время года?

In [444]:
data['director'] = stringtolist(data.director)
data = data.explode('director')
winter_df = data.query('release_month in ["12", "1", "2"]')
winter_df.groupby('director')['original_title'].count().sort_values(ascending=False)

answers['23'] = '5. Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [445]:
name_length = data
name_length['length'] = name_length.original_title.apply(lambda x: len(x))
name_length['companies'] = stringtolist(name_length.production_companies)
name_length = name_length.explode('companies')
name_length.groupby('companies')['length'].mean().sort_values(ascending=False)

answers['24'] = '5. Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [446]:
describe_df = data
describe_df['word_count'] = describe_df.overview.apply(lambda x: (x.count(' ')+1)) 
describe_df['companies'] = stringtolist(describe_df.production_companies)
describe_df = describe_df.explode('companies')
describe_df.groupby('companies')['word_count'].mean().sort_values(ascending=False)

answers['25'] = '3. Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [447]:
data[data.vote_average >= 0.97*(data.vote_average.max())].head(20)

answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave'

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [448]:
import itertools as itt
data['actors'] = stringtolist(data.cast)  # создаём список актёров                                
data['cast_cortege']=data.actors.apply(lambda x: list(combinations(x, 2))) # создаём кортеж комбинаций пар
list1 = data.cast_cortege.tolist() # приводим кортеж к спискам и присваиваем list1
list2 = list(itt.chain(*list1)) # создаём единый список комбинаций
pairs = Counter(list2) # подсчитываем количество использований комбинаций
pairs.most_common() # находим самые часто используемые комбинации

answers['27'] = '5. Daniel Radcliffe & Rupert Grint'

# Submission

In [449]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3 Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar',
 '7': '5. The Lone Ranger',
 '8': '1. 1478',
 '9': '4. The Dark Knight',
 '10': '5. The Lone Ranger',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker',
 '19': '5. 2015',
 '20': ['1. 2014'],
 '21': '1. 2014',
 '22': '2. 450',
 '23': '5. Peter Jackson',
 '24': '5. Four By Two Productions',
 '25': '3. Midnight Picture Show',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '5. Daniel Radcliffe & Rupert Grint'}

In [451]:
# и убедиться что ни чего не пропустил)
len(answers)

27