In [4]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [6]:
data = pd.read_csv('movie_bd_v5.csv', parse_dates= ['release_date'])
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
416,tt1053424,32000000,18409891,Repo Men,Jude Law|Forest Whitaker|Alice Braga|Liev Schr...,Miguel Sapochnik,"For a price, any organ in your body can be rep...","In the future, medical technology has advanced...",111,Action|Science Fiction|Thriller|Crime,Universal Pictures|Stuber Productions|Dentsu|R...,2010-03-18,6.1,2010
1100,tt0316396,100000000,121975011,Peter Pan,Jeremy Sumpter|Jason Isaacs|Rachel Hurd-Wood|R...,P.J. Hogan,All children grow up except one.,"In stifling Edwardian London, Wendy Darling me...",113,Adventure|Fantasy|Family,Columbia Pictures|Universal Pictures|Revolutio...,2003-12-25,6.7,2003
249,tt1119646,35000000,459270619,The Hangover,Bradley Cooper|Ed Helms|Zach Galifianakis|Just...,Todd Phillips,Some guys just can't handle Vegas.,When three friends finally come to after a rau...,100,Comedy,Legendary Pictures|Green Hat Films|Warner Bros...,2009-06-05,7.1,2009
281,tt1093908,40000000,108332743,Confessions of a Shopaholic,Isla Fisher|Hugh Dancy|Krysten Ritter|Joan Cus...,P.J. Hogan,A new job? Hopefully. A new man? Possibly. A n...,"In the glamorous world of New York City, Rebec...",104,Comedy|Romance,Jerry Bruckheimer Films|Touchstone Pictures,2009-02-05,6.0,2009
1870,tt0144528,84000000,123307945,Nutty Professor II: The Klumps,Eddie Murphy|Janet Jackson|Larry Miller|John A...,Peter Segal,The Klumps are back!,The hilarity begins when professor Sherman Klu...,106,Fantasy|Comedy|Romance|Science Fiction,Imagine Entertainment|Universal Pictures,2000-07-27,4.8,2000

In [4]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [33]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:
data['profit'] = data['revenue'] - data['budget']     # создание столбца прибыли


def stringtolist(string):    
    """ Функция реобразования строки в список
    
    """

    result = string.str.split('|')
    return result
#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [34]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [29]:
# тут пишем ваш код для решения данного вопроса:
data[data.budget == data.budget.max()].original_title

723    tt1298650
Name: imdb_id, dtype: object

ВАРИАНТ 2

In [396]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [35]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '2. Gods and Generals (tt0279111)'

In [397]:
data[data.runtime == data.runtime.max()].original_title

1157    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [36]:
data[data.runtime == data.runtime.min()].original_title

answers['3'] = '3 Winnie the Pooh (tt1449283)'

# 4. Какова средняя длительность фильмов?

In [37]:
data.runtime.mean()

answers['4'] = '2. 110'

# 5. Каково медианное значение длительности фильмов?

In [38]:
data.runtime.median()

answers['5'] = '1. 107'

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [39]:
# лучше код получения столбца profit вынести в Предобработку что в начале
data[data.profit == data.profit.max()].original_title

answers['6'] = '5. Avatar'

# 7. Какой фильм самый убыточный?

In [40]:
data[data.profit == data.profit.min()].original_title

answers['7'] = '5. The Lone Ranger'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [41]:
data[data.profit > 0]['original_title'].count()

answers['8'] = '1. 1478'

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [42]:
data_2008 = data[data.release_year == 2008]      # датафрейм с фильмаими 2008 года
data_2008[data_2008.revenue == data_2008.revenue.max()]['original_title']

answers['9']= '4. The Dark Knight'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [43]:
data_1214 = data.query('2012 <= release_year <= 2014')                    # фильмы в диапазоне 2012-2014
data_1214[data_1214.profit == data_1214.profit.min()]['original_title']   # поиск самого убыточного из них

answers['10'] = '5. The Lone Ranger'

# 11. Какого жанра фильмов больше всего?

In [44]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

data['genrelist'] = stringtolist(data['genres'])   #создание списка жанров на основе строки жанров
genrelist = data['genrelist'].sum()                #суммируем упоминания каждого жанра
Counter(genrelist)                                 #подсчитываем количества упоминаний

answers['11'] = '3. Drama'

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [45]:
profit_movies = data[data.profit > 0 ]       # датафрейм с положительной прибылью
genrelist = profit_movies['genrelist'].sum()  # список жанров прибыльных фильмов
Counter(genrelist)                             # счёт самого прибыльного жанра

answers['12'] = '1. Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [46]:
data.groupby(['director'])['revenue'].sum().sort_values(ascending=False)

answers['13'] = '5. Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [47]:
action_movies = data[data.genres.str.contains('Action', na=False)] # датафрейм экшн-фильмов
action_movies.director = stringtolist(action_movies.director)      # строку режиссёров делаем списком
action_movies = action_movies.explode('director')                  # разделяем список на отдельные строки
action_movies.director.value_counts()                              # подсчитываем количество фильмов

answers['14'] = '3. Robert Rodriguez'

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:5168: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [48]:
data['actors'] = stringtolist(data.cast)                                    # строку актеров в список
movies_2012 = data.query('release_year == 2012')                            # датафрейм фильмов 2012года
movies_2012 =  movies_2012.explode('actors')                                # разделяем список актеров
movies_2012.groupby('actors')['revenue'].sum().sort_values(ascending=False) # сортируем актеров по прибыли

answers['15'] = '3. Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [49]:
high_budget = data[data.budget > data.budget.mean()] # выбираем фильмы с бюджетом выше среднего
high_budget = high_budget.explode('actors')          # разделяем строки актеров на список
high_budget.actors.value_counts(ascending=False)     # подсчитываем количество прибыльных фильмов на актера

answers['16']='3. Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [50]:
nc_data = data.explode('actors')                   # разделяем строки актеров на список
nc_data = nc_data[nc_data.actors == 'Nicolas Cage'] # оставляем строки с Николаем
nc_data = nc_data.explode('genrelist')              # разделяем фильмы с ним по жанрам
nc_data.genrelist.value_counts(ascending=False)     # подсчитываем кол-во фильмов каждого жанра

answers['17'] = '2. Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [51]:
companies_data=data
companies_data['companies'] = stringtolist(companies_data.production_companies) # создаём список компаний
companies_data = data.explode('companies')                                      # разделяем список компаний
companies_data = companies_data[companies_data.companies == 'Paramount Pictures']
companies_data[companies_data['profit'] == companies_data.profit.min()]['original_title']

answers['18']='1. K-19: The Widowmaker'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [52]:
data.groupby('release_year')['revenue'].sum().sort_values(ascending=False)
""" Группируем фильмы по годам, после делаем сортировку по сумме выручки 

"""

answers['19'] = '5. 2015'

# 20. Какой самый прибыльный год для студии Warner Bros?

In [53]:
wb_company = data
wb_company['companies'] = stringtolist(wb_company.production_companies)
wb_company = wb_company.explode('companies')
wb_company = wb_company[wb_company.companies.str.contains('Warner Bros', na=False)]
wb_company.groupby('release_year')['profit'].sum().sort_values(ascending=False)
""" 1. Создаём в новом датафрейме колонку из списков студий
    2. Разделяем каждую строку по количеству студий в строке
    3. Фильтруем по наличию "Warner Bros" в названии строки
    4. Группируем фильмы по годам, сортируем по сумме прибыли
    
"""

answers['20']='1. 2014'

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [54]:
data.release_date.dt.month.value_counts()

answers['21'] = '1. 2014'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [55]:
data['release_month'] = data.release_date.dt.month
data.query('release_month in [6, 7, 8]')['original_title'].count()
""" 1. Создаём колонку 'release_month' на основе месяцев выхода фильмов.
    2. Подсчитываем количество фильмов по суммам фильмов по номерам месяцев 
    
"""

answers['22'] = '2. 450'

# 23. Для какого режиссера зима – самое продуктивное время года?

In [56]:
data['director'] = stringtolist(data.director)
data = data.explode('director')
winter_df = data.query('release_month in ["12", "1", "2"]')
winter_df.groupby('director')['original_title'].count().sort_values(ascending=False)
""" 1. Разделяем строки по количеству режиссёров фильма
    2. Создаём датафрейм winter_df из data по месяцам под номерами 12, 1, 2
    3. Группируем по режиссёрам, считаем количество фильмов и сортируем 
    
"""

answers['23'] = '5. Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [57]:
name_length = data
name_length['length'] = name_length.original_title.apply(lambda x: len(x))
name_length['companies'] = stringtolist(name_length.production_companies)
name_length = name_length.explode('companies')
name_length.groupby('companies')['length'].mean().sort_values(ascending=False)
""" 1. Создаём дф name_length на основе data
    2. В нём создаём колонку 'length' по количеству символов в названии фильмов
    3. Создаём колонку списков студий
    4. Разделяем каждую строку по количеству студий в строке
    5. Группируем по студиям, считаем среднюю длину названия и сортируем
    
"""

answers['24'] = '5. Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [58]:
describe_df = data
describe_df['word_count'] = describe_df.overview.apply(lambda x: (x.count(' ')+1)) 
describe_df['companies'] = stringtolist(describe_df.production_companies)
describe_df = describe_df.explode('companies')
describe_df.groupby('companies')['word_count'].mean().sort_values(ascending=False)
""" 1. Создаём колонку количества слов 'word_count', подсчитывая число пробелов + 1 в колонке 'overview'
    2. Разделяем каждую строку по количеству студий в строке 
    3. Группируем по студиям, подсчитываем среднее кол-во слов в обзоре, сортируем
    
"""

answers['25'] = '3. Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [59]:
title_count = data.original_title.count()
best_movies = int(title_count - title_count*0.99)
sorted_data =  data.sort_values(by=['vote_average'],ascending=False)
sorted_data.head(best_movies)
""" 1. Находим кол-во фильмов
    2. Находим количество лучших фильмов(1%) 'best_movies' и округляем
    3. Создаём датафрейм фильмов отсортированных по рейтингу
    4. Показываем первые "best_movies" фильмов
    
"""

answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave'

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [60]:
import itertools as itt

data['actors'] = stringtolist(data.cast)  # создаём список актёров                                
data['cast_cortege']=data.actors.apply(lambda x: list(itt.combinations(x, 2))) # создаём кортеж комбинаций пар
list1 = data.cast_cortege.tolist() # приводим кортеж к спискам и присваиваем list1
list2 = list(itt.chain(*list1)) # создаём единый список комбинаций
pairs = Counter(list2) # подсчитываем количество использований комбинаций
pairs.most_common() # находим самые часто используемые комбинации

answers['27'] = '5. Daniel Radcliffe & Rupert Grint'

# Submission

In [61]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3 Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar',
 '7': '5. The Lone Ranger',
 '8': '1. 1478',
 '9': '4. The Dark Knight',
 '10': '5. The Lone Ranger',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '1. 2014',
 '22': '2. 450',
 '23': '5. Peter Jackson',
 '24': '5. Four By Two Productions',
 '25': '3. Midnight Picture Show',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '5. Daniel Radcliffe & Rupert Grint'}

In [62]:
# и убедиться что ни чего не пропустил)
len(answers)

27